* {
    padding: 0.25rem;
    --color-1: #C24893;
    font-family: 'Dancing Script', 'Amatic SC', 'Open Sans', sans-serif;
}

.navbar, 
.navbar-brand {
    padding: 0;
}

.btn {
    margin-right: 1rem;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
}

label, p {
    font-family: 'Amatic SC', sans-serif;
    font-size: large;
}

h2 {
    margin-top: 5%;
}
.form-control {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.form-control-sm {
    font-size: small;
    font-weight: 500;
}
.form-control-lg {
    font-family: 'Dancing Script', sans-serif;
    font-weight: 700;
}

/* https://stackoverflow.com/questions/14820952/change-bootstrap-input-focus-blue-glow response #225, user: igaster */
.form-control:focus {
    border-color: var(--color-1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--color-1);
}

#submit-button {
    background-color: var(--color-1);
    border-color: var(--color-1);
    margin-top: 1rem;
    font-family: 'Amatic SC', sans-serif;
    font-size: larger;
}