* {
    padding: 0.25rem;

}
#navbar {
    display: flex;
    justify-content: flex-start;
    max-height: 10%;
    border: 2px;
    border-color: cadetblue;
    background-color: black;
}

#site-header {
    font-style: italic;
}

.link {
    margin: 2PX;
}