* {
    font-family: 'Dancing Script', 'Amatic SC' 'Open Sans', sans-serif;
}
.navbar, 
.navbar-brand {
    padding: 1%;
}

main {
    padding: 2rem;
}
.btn {
    margin-right: 1rem;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 2%;
}

h1, h2 {
    font-family: 'Dancing Script', sans-serif;
}